<div class="searchbox">
    <form action="/cryptosearch" method="post">
        <h4>Enter cryptocurrency: 
            </br>
            </br>
            </br>
        </h4><input type="text" name="coin" placeholder="e.g. bitcoin">
        <input type="submit" value="Submit">
    </form>
        </br>
    <form action="/">
        <input type="submit" value="Back to homepage">
    </form>
</div>