<div class="searchbox">
        <h4>"You have encountered an error, the data for your search is either not available or doesn't exist. 
        Please go back to the homepage and try again"</h4>
        </br>
    <form action="/">
        <input type="submit" value="Back to homepage">
    </form>
</div>