<!doctype html>
<html>
  <head>
    <title>SimpleCrypto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><div class="brand-title">SimpleCrypto</div></a>
  <span class="navbar-text">
  <div class="main-intro">SimpleCrypto is powered by live data, to help bring you unbiased analytics! </div>
    </span>
</nav>

    <div class="container">


      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>